@import "~milligram/dist/milligram.css";
$break-point: 720px;

.layout {
  padding: 0 5%;
  margin: 0 auto 30px;
  max-width: $break-point;
  min-height: 80vh;
  color: black;
  a {
    color: #dd3333;
  }
}

.main {
  padding: 0 15px;
  @media (min-width: $break-point) {
    padding: 0 25px;
  }
}

body {
  margin: 0;
  padding: 0;
}
