$break-point: 720px;

.single {
  margin: 0;
  width: 100%;
  a {
    color: #dd3333;
    text-decoration: none;
  }
}

.title {
  margin: 0;
}

.line {
  margin: 0;
}

.meta {
  margin: 0;
}

.content {
  margin: 0;
  @media (min-width: $break-point) {
    margin-top: 36px;
  }
}
