$break-point: 720px;

.post {
  display: block;
  max-width: 650px;
  margin: 6px 0 0 0;
  @media (min-width: $break-point) {
    margin: 18px 0 0 0;
  }
  text-decoration: none;
  color: black;
  &:hover {
    color: #d33;
  }
  &:active {
    color: #d33;
  }
}

.title {
  font-size: 28px;
  line-height: 25px;
  @media (min-width: $break-point) {
    font-size: 32px;
    line-height: 31px;
  }

  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0;
}

.line {
  margin: 0;
  text-decoration: none;
}

.meta {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2em;
  margin: 0 0 9px 0;
}

.description {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}
