$break-point: 720px;

.post {
  display: block;
  margin: 6px 0 0 0;
  @media (min-width: $break-point) {
    margin: 18px 0 0 0;
  }
  text-decoration: none;
  color: black;
  &:hover {
    color: #d33;
  }
  &:active {
    color: #d33;
  }
}

.header {
  margin-bottom: 0;
}

.title {

  margin: 0;
}

.line {
  margin: 0;
  text-decoration: none;
}

.meta {
  margin: 0 0 9px 0;
}

.section {
  margin-bottom: 0;
}

.description {
  margin: 0;
}
